<br/><br/>
<div class="text-center text-light">La página web fue hecho por <a href="https://steamcommunity.com/id/TheDuckxd/">ducks</a> y con la ayuda de <a href="https://steamcommunity.com/profiles/76561199153288700">Rulosin Mamada</a> osii.</div>