<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/style.css">
  <title>L4D2 Hub</title>
</head>
<body id="body">
{{>nav}}

<section class="d-flex gap-2 justify-content-between mt-3 rounded sec">
  <div class="bg bg-black border border-dark w-50 p-2 text-center">
    <h5 class="text-primary">驴Que es L4D2 Hub?</h5>
    <div class="text-light">
      Una p谩gina donde se recopilan y muestran estad铆sticas del <br/><b class="text-warning">modo competitivo</b> de la <b class="text-danger">Liga Bulls</b>.
      <br/><br/>
      Explora los <a href="/stats">stats</a>, descubre los <a href="/rankings">rankings</a> y, sobre todo,<br/> no te pierdas la tabla oficial de la <b><a href="/liga">Liga Bulls</a></b>.

    </div>
  </div>
  <div class="bg bg-black border border-dark w-50 p-2 text-center">
    <div class="d-flex justify-content-center row align-items-center">

      <h2 class="text-warning">Champions Bulls</h2>

      <!-- Equipo 1 -->
      <div class="col-4 text-center">
        <img src="./image/icon-cham.svg" width="40">
        <h5 class="text-warning">............</h5>
      </div>
      
      <!-- VS -->
      <div class="col-2 text-center">
        <h3 class="text-secondary">VS</h3>
      </div>

      <!-- Equipo 2 -->
      <div class="col-4 text-center">
        <img src="./image/icon-cham.svg" width="40">
        <h5 class="text-warning">............</h5>
      </div>
    </div>
  </div>
  <!--
  <p class="text-light">
  Una ola competitiva construida sobre L4D2 Hub en honor al meta implacable de L4D2, donde cada empuje, spawn y wipe defini贸 leyendas.
  </p>

  <div class="d-flex justify-content-between">
    <b style="color: aqua;">Papa de void estaria decepcionado de ti si pierdes...</b>
    <img src="./image/void.jpeg" style="max-width: 100%; width: 100px;">
  </div>
  -->
</section>

<section class="d-flex flex-column gap-2 justify-content-between mt-3 text-light bg bg-black border border-dark rounded p-2 sec">
  <b class="bg-gradient bg-dark d-flex justify-content-center w-100 rounded p-2 mx-auto fs-5">Anuncio</b>
  <div class="d-flex gap-3 justify-content-center mt-2">
    <img src="./image/champ.jpg" class="w-25 rounded" style="box-shadow: 0px 0px 10px orangered;">
    <div class="mt-2">
      <h4 class="text-danger"><b> Champions League Bulls</b></h4>
      <span class="text">Copa de temporada: <span class="text-secondary">Pr贸ximamente.</span></span>
      <span class="text">Fecha de Inicio: <span class="text-secondary">Pr贸ximamente.</span></span>
      <span class="text">Formato: <span class="text-secondary">Pr贸ximamente.</span></span>
      <span class="text">Ganadores: <span class="text-secondary">Pr贸ximamente.</span></span>
      <span class="text">Mejor Jugador: <span class="text-secondary">Pr贸ximamente.</span></span>
      <span class="text">Copa: <span class="text-secondary">Pr贸ximamente.</span></span>
      <br/>
      <a href="">Ver Champions League Bulls</a>
    </div>
  </div>
</section>

<section class="d-flex gap-2 justify-content-between mt-3 text-light bg bg-black border border-dark rounded p-2 sec sec2">
  <div class="border border-dark w-100 p-2 rounded">
    <b class="d-flex justify-content-center fs-5 rounded bg-gradient bg-dark p-2 w-100">Ultimas Noticias</b>
    {{#if posts}}
    <div class="mt-2">
      {{#each posts}}
      <h4>{{this.title}}</h4>
      <p style="color: darkgrey;">{{this.text}}</p>
      <img src="{{this.imageLink}}" style="display: flex; max-width: 100%; width: 300px; margin: auto;">
      {{/each}}
    </div>
    {{else}}
    <p>No hay noticias a煤n.</p>
    {{/if}}
  </div>
</section>

{{>footer}}

<script src="./js/get_layour.js"></script>
</body>
</html>
