/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  padding: 10px;
  background-color: #121212;
  font-family: "Inter";
  max-width: 100%;
  width: 1300px;
  margin: auto;
}

#points{
  font-family: "Coiny"; 
  font-size: 18px;
}

.text-champions {
  text-shadow: 0px 0px 10px brown;
}

.text-title {
  text-shadow: 3px 2px 1px brown;
}

nav div a:hover {
  color: darkred !important;
}

.sec {
  /* max-width: 100%; */
  width: 100%;
}

.input::placeholder {
  color: grey;
}

.text {
  display: flex;
  gap: 15px;
  font-size: large;
}

.vd:hover {
  box-shadow: 0px 0px 10px brown;
}

.ranking {
  background-color: darkred;
}

.sec2 {
  overflow: auto;
}

.image-ranking {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 8px;
  vertical-align: middle;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inp::placeholder {
  color: white;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.win {
  background-color: #66bb6a;
}

.draw {
  background-color: #b0bec5;
}

.lose {
  background-color: #ef5350;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.blue {
  background-color: #448aff;
}

.red {
  background-color: red;
}


.orange {
  background-color: orange;
}

.dot,
.circle {
  display: inline-block;
  margin-right: 8px;
}

.legend-section {
  width: 300px;
}

.legend-container {
  display: flex;
  gap: 50px;
  background-color: #3a3a3a;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin-top: 30px;
  color: white;
}

@media (max-width: 800px) {
  header.d-flex {
    display: none !important;
  }

  .header.d-none {
    display: flex !important;
  }
}